/* General styles */

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


body {
    position: absolute;
    background-color: #000000;
    background-image: url('imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-y: auto;
}

body::before {
    filter: grayscale(100%);
}

h1 {
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: 350px;
    left: 110px; 
    color: white;
}

.name {
    font-size: 70px;
    font-weight: bold;
}

h1 .description {
    margin-left: 5px;
    color: #b3b3b3;
}

.whoohoo {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--bs-purple)
}

h2 {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 1150px;
    left: 90px;
    color: white;
    background-color: #212529f1;
    padding: 10px;
    margin-bottom: 20px;
    width: 1500px;
    height: 1000px;
}

.aboutme {
    position: relative;
    top: 10px;
    left: 10px;
    text-decoration: underline;
    text-decoration-color: var(--bs-purple);
}

.pfp {
    border-radius: 50%;
    position: relative;
    top: 80px;
    left: -115px;
    border: 5px solid var(--bs-purple);
    width: 100px;
    height: 100px;
}

.aboutlist {
    margin-top: -25px;
    margin-left: 80px;
    list-style: none;
}

.aboutlist li {
    margin-bottom: 10px;
}

.aboutlist li:nth-child(4) {
    position: relative;
    top: -120px;
    left: 260px;
}

.para {
    font-size: large;
    font-weight: normal;
    position: relative;
    top: -50px;
    left: 5px;
}

.allied {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--bs-purple);
    text-decoration-thickness: 3px;
}

.navbar {
    background-color: #00000089 !important;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition-duration: 0.35s;
}

.navbar .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition-duration: 0.35s;
}

.navbar .nav-link:hover {
    color: var(--bs-purple);
}

.navbar .navbar-brand:hover {
    color: var(--bs-purple)
}

.projectsicon {
    position: relative;
    top: 30px;
    right: 900px;
    color: var(--bs-purple);
    background-color: #0000005e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    border-radius: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80px;
}

.projectsnum {
    position: relative;
    top: 95px;
    right: 953px;
}

.projectsdesc {
    position: relative;
    top: 60px;
    left: 461.5px;
    font-size: 15px;
    font-weight: bold;
}

.projects {
    background-color: #323232f1;
    background-position: center;
}

.nav-underline .nav-item .nav-link {
    font-size: 50px;
    background-color: #0000005e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0px;
    border-radius: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 70px;
}

:root,
[data-bs-theme=light] {
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #650dfd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #650dfd;
}