.cardContainer {
    display: flex;
    flex-direction: column;

    width: 100%;

    max-width: 250px;
    height: auto;
    
    margin: 5% 0 5% 0;

    padding: 5%;

    background-color:rgb(51, 51, 51);

    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);

    transition: all 0.3s ease;
}

.projectTitle {
    font-size: 32px;
    font-family: 'Inria Sans';
    font-weight: 800;

    text-align: left;

    color: #FFFFFF;
}

.projectStack {
    padding-left: 1%;
}

.projectDesc {
    text-align: left;
    padding-left: 1%;
    color:rgb(133, 133, 133);
}

.linkWrapper {
    display: flex;
    flex-direction: row;

    font-family: 'Inria Sans';
    text-decoration: underline;
    text-decoration-color: #8800FF;
    text-decoration-thickness: 2px;

    color: white;

    padding-left: 1%;
    gap: 5%;
}

.projectLink {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    text-decoration: inherit;
    text-decoration-color: inherit;
    text-decoration-thickness: inherit;
    padding: 0;
    font-size: inherit;
}

.projectLink:hover {
    cursor: pointer;
}

.cardContainer:hover {
    border-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
    box-shadow: 0 8px 40px rgba(255, 255, 255, 0.2);
}