.logoContainer {
    position: relative;
    display: inline-block;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 40, 0.96);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    text-align: center;
}

@media (hover: hover) and (pointer: fine) {
    .logoContainer:hover .overlay {
        opacity: 1;
    }
}

.logo {
    width: 34px;
    height: auto;
    flex-shrink: 1;
    padding: 2px;
}

.logoName {
    font-size: 14px;
    line-height: 1.2;
    color: white;
    text-decoration: underline;
    text-decoration-color: #8800FF;
}